$green: hsl(157, 74%, 62%);
$blue-grey: hsl(225, 26%, 23%);
$dark-blue-grey: hsl(224, 35%, 11%);
$grey: hsl(225, 21%, 45%);
$light-grey: hsl(225, 40%, 83%);
$white: hsl(0, 0%, 100%);
$chivo: "Chivo", sans-serif;
