@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
@import "./_vars.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $chivo;
  background-color: $dark-blue-grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.title {
  font-size: 52px;
  line-height: 62px;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  line-height: 28px;
  color: $light-grey;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 35px;
  background-color: $green;
  color: $dark-blue-grey;
  opacity: 1;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

header {
  background: url("../assets/desktop/image-host.jpg") no-repeat top right /
    contain;
  height: 640px;
  position: relative;
  max-width: 1275px;
  width: 100%;
  margin: 25px;

  .dots {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 232px;
    height: 124px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(55%);

    span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $green;
    }
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }

  .content {
    background-color: $dark-blue-grey;
    max-width: 723px;
    width: 100%;
    height: 509px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      color: $white;
      font-weight: 300;
      padding-top: 80px;
      span {
        color: $green;
      }
    }
  }

  .form-element {
    position: relative;
    width: calc(425px - 40px);

    small {
      display: inline-block;
      padding: 10px 20px;
      color: red;
      position: absolute;
    }

    input {
      height: calc(56px - 40px);
      width: calc(425px - 40px);
      border-radius: 35px;
      background: $grey;
      border: none;
      padding: 20px;
      color: $green;

      &::placeholder {
        color: $light-grey;
      }
    }

    a {
      position: absolute;
      top: 3px;
      right: -35px;
    }
  }

  .sponsors {
    display: flex;
    justify-content: space-between;
    max-width: 536px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  header {
    margin: 0;
    background: url("../assets/tablet/image-host.jpg") no-repeat top right /
      contain;
    margin-left: 25px;

    .logo {
      position: relative;
      transform: translateY(0%);
      margin-top: 35px;
    }
    .dots {
      left: 0;
      bottom: -170px;
    }
  }
}

@media (max-width: 700px) {
  body {
    background: url("../assets/tablet/image-host.jpg") center center / contain;
    height: 100vh;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparentize($dark-blue-grey, 0.02);
  }

  header {
    background: none;
    margin: 25px;

    .logo {
      margin: 0;
      text-align: center;
    }

    .content {
      background: none;
      text-align: center;
      bottom: auto;
      left: auto;
      align-items: center;

      .sponsors {
        order: 3;
        max-width: 315px;
        width: 100%;
        margin: 30px 0 10px;

        .sponsor-1 img {
          width: 56px;
        }
        .sponsor-2 img {
          width: 45px;
        }
        .sponsor-3 img {
          width: 73px;
        }
        .sponsor-4 img {
          width: 77px;
        }
      }

      h1 {
        order: 1;
        font-size: 26px;
        line-height: 38px;
      }

      p {
        order: 2;
        font-size: 15px;
        line-height: 25px;
      }

      .form-element {
        order: 4;
        width: auto;

        small {
          width: 100%;
          padding: 10px 0 0 0;
          position: inherit;
        }

        input {
          margin: 20px 0 10px;
          width: 90%;
        }

        .btn {
          position: inherit;
          right: inherit;
          top: inherit;
          width: 87%;
          margin: 20px 0 10px;
        }
      }
    }
    .dots {
      display: none;
    }
  }
}
